doctype html
html(ng-app='AngularDev')
  head
    base(href='/')
    meta(charset='utf-8')
    meta(name='description', content='AngularDev')

    title AngularJs Development Company
    meta(name="description", content="We provide Professional AngularJS Custom Development service. Single page web application experience using AngularJS.")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='icon', type="image/png",  href='img/favicon.png')
    link(rel='stylesheet', href='/bower_components/angular-loading-bar/build/loading-bar.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/bower_components/font-awesome/css/font-awesome.css')
    link(rel='stylesheet', href='/css/common.css')
  body(bindonce)
    .container-fluid
      .row
        top-navigation-modile.marginArea.col-lg-12.col-md-12.col-sm-12.col-xs-12
      //- Navigation
      top-navigation
      div(ui-view)
      div(ng-controller="common.controller as commonCtrl")  
        main-footer(config="config")
    if env == "development"
      script(src='/bower_components/jquery/dist/jquery.js')
      script(src='/bower_components/lodash/lodash.js')
      script(src='/bower_components/angular/angular.js')
      script(src='/bower_components/angular-animate/angular-animate.js')
      script(src='/bower_components/angular-strap/dist/angular-strap.js')
      script(src='/bower_components/angular-strap/dist/angular-strap.tpl.js')
      script(src='/bower_components/angular-ui-router/release/angular-ui-router.js')
      script(src='/bower_components/angular-resource/angular-resource.js')
      script(src='/bower_components/angular-elastic/elastic.js')
      script(src='/bower_components/angular-loading-bar/build/loading-bar.js')
      script(src='/bower_components/angular-bindonce/bindonce.js')
      script(src='/bower_components/angular-translate/angular-translate.js')
      script(src='/bower_components/angular-translate-loader-partial/angular-translate-loader-partial.js')
      script(src='/bower_components/oclazyload/dist/ocLazyLoad.js')
      script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
      script(src='/js/application.bundle.js')
    if env == "production" 
      script(src='/js/vendors.min.js')    
      script(src='/js/application.bundle.min.js')    
    include ./analytics.jade  
