.row.social
  .col-lg-6.col-md-6.col-sm-6.col-xs-12
    ul.ourSocial
      li
        a(href='#')
          i.fa.fa-facebook-square.iconDevStyle
          |  Facebook
      li
        a(href='#')
          i.fa.fa-twitter.iconDevStyle
          |  Twitter
      li
        a(href='#')
          i.fa.fa-github.iconDevStyle
          |  Github
  .col-lg-6.col-md-6.col-sm-6.col-xs-12
    button.socialBtn.btn.btn-info(type='button')
      a(href='#p6', translate="social.button")
