div
  a#p5.pointScroll
  .row.expertise
    //- front-end
    .rowExpFirst.col-lg-4.col-md-4.col-sm-4.col-xs-12
      .maskFront
      .frontWhite
        span(translate="expertise.frontend.title.1")
      .frontCol.openSer
        span(translate="expertise.frontend.title.1")
      .backLeft.openSer
        .capTextContExp
          span.textCont
            h3(translate="expertise.backend.first_description.1")
            p(translate="expertise.backend.first_description.2")
      .codeSecond.openSer
        .capTextContExp
          span.textCont
            h3(translate="expertise.code_quality.second_description.1")
            p(translate="expertise.code_quality.second_description.2")
    //- back-end
    .rowExpSecond.col-lg-4.col-md-4.col-sm-4.col-xs-12
      .maskBack
      .backWhite
        span(translate="expertise.backend.title.1")
      .backCol.openSer
        span(translate="expertise.backend.title.1")
      .frontFirst.openSer
        .capTextContExp
          span.textCont
            h3(translate="expertise.frontend.first_description.1")
            p(translate="expertise.frontend.first_description.2")
      .codeFirst.openSer
        .capTextContExp
          span.textCont
            h3(translate="expertise.code_quality.first_description.1")
            p(translate="expertise.code_quality.first_description.2")
    //- code design
    .rowExpThird.col-lg-4.col-md-4.col-sm-4.col-xs-12
      .maskCode
      .codeWhite
        span(translate="expertise.code_quality.title.1")
      .codeCol.openSer
        span(translate="expertise.code_quality.title.1")
      .backRight.openSer
        .capTextContExp
          span.textCont
            h3(translate="expertise.backend.second_description.1")
            p(translate="expertise.backend.second_description.2")
      .frontSecond.openSer
        .capTextContExp
          span.textCont
            h3(translate="expertise.frontend.second_description.1")
            p(translate="expertise.frontend.second_description.2")