div
  a#p1.pointScroll
  .row.capabilities
    .capFirstPic.col-lg-offset-3.col-lg-3.col-md-offset-3.col-md-3.col-sm-offset-3.col-sm-3.col-xs-6
    .col-lg-3.col-md-3.col-sm-3.col-xs-6
      .capTextCont
        span.textCont(translate="capabilities.frontend")
  a#p2.pointScroll
  .row.capabilities
    .col-lg-offset-3.col-lg-3.col-md-offset-3.col-md-3.col-sm-offset-3.col-sm-3.col-xs-6
      .capTextCont
        span.textCont(translate="capabilities.backend")
    .capSecondPic.col-lg-3.col-md-3.col-sm-3.col-xs-6
  a#p3.pointScroll
  .row.capabilities
    .capThirdPic.col-lg-offset-3.col-lg-3.col-md-offset-3.col-md-3.col-sm-offset-3.col-sm-3.col-xs-6
    .col-lg-3.col-md-3.col-sm-3.col-xs-6
      .capTextCont
        span.textCont(translate="capabilities.technologies")
  a#p4.pointScroll
  .row.capabilities
    .col-lg-offset-3.col-lg-3.col-md-offset-3.col-md-3.col-sm-offset-3.col-sm-3.col-xs-6
      .capTextCont
        span.textCont(translate="capabilities.projects")
    .capFourPic.col-lg-3.col-md-3.col-sm-3.col-xs-6
